<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off">

	<variable name="DirectoryLogs" value="logs"/>
	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
		<add assembly="NLog.Mailkit"/>
	</extensions>


	<targets async="true">

		<target name="debugger"
        xsi:type="Debugger"
        layout="${longdate} ${level:uppercase=true} ${logger} - ${message}"/>

		<target xsi:type="file" name="file"
        fileName="${DirectoryLogs}/${shortdate}_${level:uppercase=true}.log"
        layout="${longdate} ${level:uppercase=true} ${logger} - ${message}"
        deleteOldFileOnStartup="true"/>

		<target xsi:type="Mail"
          name="gmail"
          smtpServer="smtp.gmail.com"
          smtpPort="587"
          smtpAuthentication="Basic"
          smtpUserName="dumdleeslaser@gmail.com"
          smtpPassword="arsq fruj smuc igzu"
          enableSsl="false"
          from="dumdleeslaser@gmail.com"
          to="madrive0508@gmail.com"
          isBodyHtml="true"
          subject="Error Log - ${level:uppercase=true}: ${logger}"
          body="${longdate} ${level:uppercase=true} ${logger} - ${message}"/>

	</targets>

	<rules>
		<logger name="*" minlevel="Trace" writeTo="debugger"/>
		<logger name="*" minlevel="Debug" writeTo="debugger"/>
		<logger name="*" minlevel="Info" writeTo="debugger"/>
		<logger name="*" minlevel="Error" writeTo="debugger,file,gmail"/>
	</rules>

</nlog>